extends layout

block content

    div.w3-cell-row.w3-margin-top
        div.w3-container.w3-cell.w3-padding-16.w3-margin-top(style="width:25%")
            a(href="/users" style="text-decoration: none")
                div.w3-card-4
                    div.w3-container.w3-blue-gray.w3-text-black(id='userPanel')
                        h3 Users
                    div.w3-container.w3-center.w3-padding-16.w3-text-dark-gray
                        i(class="fas fa-users fa-5x")
                    div.w3-bar.w3-blue-gray
                        i.w3-bar-item.w3-right(class="fas fa-sign-in-alt fa-2x")

        div.w3-container.w3-cell.w3-padding-16.w3-margin-top(style="width:25%")
            a(href="/attributes" style="text-decoration: none")
                div.w3-card-4
                    div.w3-container.w3-grey.w3-text-black(id='attributePanel')
                        h3 Credentials
                    div.w3-container.w3-center.w3-padding-16.w3-text-dark-gray
                        i(class="fas fa-clipboard-list fa-5x")
                    div.w3-bar.w3-grey(id='attributeFooter')
                        i.w3-bar-item.w3-right(class="fas fa-sign-in-alt fa-2x")

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%" id="initiatingRKVAC")
        header.w3-container.w3-gray
            h3 RKVAC initialization
        div.w3-container.w3-padding
            p RKVAC is not initialized. Initialize the app by personalizing new card on 'Users' page.

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%")
        header.w3-container.w3-grey(id='keyPanel')
            h3 Tools
        div.w3-container
            table.w3-table
                tr
                    th(style="width:30%") Description
                    th File
                    th(style="width:30%") Action
                tr(id="downloadIEForm" hidden=true)
                    td Issuer's private key
                    td ie_sk.dat
                    td
                        form(action="/downloadKey" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small.w3-margin-right(type='submit' value='Download' id="downloadKeyButton") Download
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='button' id="deleteIEButton") Delete
                tr(id="uploadIEForm")
                    form(action="/uploadIEKey" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") Issuer's private key
                        td
                            input.w3-input(type='file' name='ie_sk.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Upload
                tr(id='uploadForm')
                    form(action="/uploadKey" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") RA's public key
                        td
                            input.w3-input(type='file' name='ra_pk.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Upload
                tr(id="deleteForm" hidden=true)
                    //form(action="/deleteKey" method="GET")
                    td(style="padding-left:16px") RA's public key
                    td ra_pk.dat
                    td
                        button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id="deleteKeyButton") Delete

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%")
        header.w3-container.w3-cyan
            h3 Smart-card readers
        div.w3-container
            div.w3-center.w3-margin-top
                label.w3-text-red(id="cardStatus") Card unavailable
                div(id="readerList")
            div.w3-container.w3-margin-bottom
                p #[i Info: Clicking on the reader will test a card in it.]
                div(class="loader" id="login-loader" hidden=true)
                label.w3-text-green(id="cardConnected" hidden=true) Card works properly
                label.w3-text-red(id="cardDisconnected" hidden=true) Card isn't working properly
            div(id="reloadMessage")
                p #[i In case that your reader isn't listed, please reload Smart Card Extension or restart browser.]

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%")
        header.w3-light-blue.w3-padding
            h3 Application reset
        div.w3-container.w3-padding
            p #[i ATTENTION: This function will reset whole RKVAC configuration.]
            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id='resetRKVAC') Reset
        div.w3-container.w3-padding(id="resetMessage" hidden=true)
            label.w3-text-red Request failed

    script(src='index-client.js')